*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #D3D3D3;
    display: block; 
}
input, button{
    font-family: 'Poppins', sans-serif;
    margin-left: 43%;
}
.login, .loggedin{
    width: 25%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    font-size: 20px;
    align-content: center;
    width: 80%;
    text-align: center;
    display: none
}
.login input{
    display: block;  
    color: azure;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: black;
    padding: 10px;
    outline: none;
    width: 25%;
    margin-bottom: 20px;
    margin-left: 38%;
    margin-top: 10px;
}
.login button , .loggedin button{
    background: grey;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 15%;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.login button:hover , .loggedin button:hover{
    background: aqua;
    color: azure;
    border: 1px solid azure;
    cursor: pointer;
}
.login input:focus{
    border: 1px solid azure;
}
.abc{
    margin-left: 42%;
}