*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1800px;
    height: 650px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: teal;
}
.btn{
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    transition: transform 0.5s;
    cursor: pointer;
}
.btn:hover{
    background: black;
    transform: translateY(-5px);
}
/*------------    account-page       ------------*/

.account-page{
    padding: 50px 0;
    background: radial-gradiant(#fff,#ffd6d6)
}
.form-container{
    top: 200px;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 30px;
    backdrop-filter: blur(16px) brightness(108%);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: violet;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.from-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid aqua;
    background: black;
    color: azure;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: pink;
    height: 3px;
    margin-top: 8px;
    transform: translateX(150px);
    transition: transform 1s;
}

.fb {
    background-color: #3B5998;
    color: white;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  
  .container_2{
    width: 300px;
    height: 350px;
    text-align: center;
    position:center;
    padding: 10px;
    margin:auto;
}
